body{
    background-color: white;
    margin:0 auto;
    width:800px;
    font-family: 'Muli', sans-serif;
    color:#737373;
}

header{
    margin-top:50px;
}

#linh{
    margin:30px 0px 15px 20px;
}

#back{
    float:right;
    position:relative;
    top:-20px;
    border:none;

}

#topic{
    width:400px;
    height:250px;
    margin: auto;
    padding: 0px 5px 0px 5px;
    border-style: solid;
    border-color:white;

}

#need{
  width:550px;
  margin:auto;
}

a{
    text-decoration: none;
    color:#737373;
    background-color: white;
    font-size: 12px;
}

a:hover{
    color:#ffcc00;
    background-color: inherit;
}

h2{
    border-bottom: solid;
    border-bottom-color: #ffcc00;
    border-bottom-width: thin;
    font-size: 20px;
}

h3{
  font-weight: bold;
}

footer{
    text-align: center;
}

footer p{
    display: inline-block;
    padding: 0px 25px 0px 25px;
    font-size: 12px;
}
