body{
    background-color:white;
    margin:0 auto;
    width:800px;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    color:#737373;
}

#top {
    position: fixed;
    width:800px;
    border-bottom: solid;
    border-bottom-color: #ffcc00;
    border-bottom-width: thin;
    margin-top:-30px;
    padding:40px 0px 5px 0px;
}

nav{
  background-color: white;
  color:inherit;
}

h2{
    margin: 0;
    font-size: 20px;
}

#blog{
    padding-top:40px;
}

#back{
    float:right;
    margin-top:0;
}

img{
  float:left;
  margin-top:40px;
  margin-bottom:50px;
  padding-right:30px;
}


h3{
  float:right;
  width:390px;
  color:#ffcc00;
  background-color: inherit;
  font-size:15pt;
  padding-top:10px;
}

#blog p{
  float:right;
  width:390px;
  margin-top:-10px;
}


a{
    text-decoration: none;
    color:#737373;
    background-color: inherit;
    font-size: 12px;
}

a:hover{
    color:#ffcc00;
    background-color: inherit;
}

footer{
    clear:both;
    text-align: center;
    display: inline-block;
    width:100%;
    margin:auto;
}

footer p{
    display: inline-block;
    padding: 0px 25px 0px 25px;
    font-size: 12px;
}
